{% extends 'Backoffice/base.html.twig' %}
{% block body %}
    <body class="skin-red-light">
    <div class="wrapper">
        {% block header %}
            {% include 'Backoffice/header.html.twig' %}
        {% endblock %}

        {% block sidebar %}
            {% include 'Backoffice/sidebar.html.twig' %}
        {% endblock %}
    </div>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                {{ asociado.nombre }}
                <small>Propiedades</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="{{ path('asociados') }}">Asociados</a></li>
                <li><a href="#">{{ asociado.nombre }}</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="container">
                <hr/>
                <div class="col-xs-12 col-sm-9">
                    <div class="box box-default">
                        <div class="box-body">
                            <br/>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-sm-12">
                                        {% for message in app.session.flashbag().get('status') %}
                                            <div class="alert alert-info">{{ message }}</div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <figure>
                                            {% if (asociado.logotipo == 1) %}
                                                <img class="image-box" src="{{ asset("img/Back/logos/" ~ asociado.idAsociado  ~ ".jpg") }}" style="height: auto; width: 250px">
                                            {% endif %}
                                        </figure>
                                        <div class="row">
                                            <hr/>
                                            <div class="col-xs-12 col-sm-6">
                                                <a href="{{ path('edit_asociado',{'id_asociado': asociado.idAsociado }) }}"><button type="button" class="btn btn-block btn-primary">Editar</button></a>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <button type="button" class="btn btn-block btn-primary">Nuevo usuario</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-8">
                                        <ul class="list-group">
                                            <li class="list-group-item"><i class="fa fa-briefcase"></i> {{ asociado.nombre }}</li>
                                            <li class="list-group-item"><i class="fa fa-tag"></i> {{ asociado.nif }}</li>
                                            <li class="list-group-item"><i class="fa fa-map-marker"></i> {{ asociado.domicilio }}</li>
                                            <li class="list-group-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{ asociado.provincia }}</li>
                                            <li class="list-group-item"><i class="fa fa-phone"></i> {% if(asociado.pais)=='ES' %} España {% elseif(asociado.pais=='PT') %} Portugal{% endif %}</li>
                                            <li class="list-group-item"><i class="fa fa-user"></i> {{ asociado.contacto }}</li>
                                            <li class="list-group-item"><i class="fa fa-phone"></i> {{ asociado.telefono }}</li>
                                            <li class="list-group-item"><i class="fa fa-fax"></i> {{ asociado.fax }}</li>
                                            <li class="list-group-item"><i class="fa fa-envelope"></i> {{ asociado.eMail }}</li>
                                            <li class="list-group-item"><i class="fa fa-barcode"></i> {{ '%04d'|format(asociado.codigoAsociado) }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </body>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
