{% extends 'Backoffice/base.html.twig' %}
{% block body %}
    <body class="skin-red-light">
    <div class="wrapper">
        {% block header %}
            {% include 'Backoffice/header.html.twig' %}
        {% endblock %}

        {% block sidebar %}
            {% include 'Backoffice/sidebar.html.twig' %}
        {% endblock %}
    </div>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                {{ asociado.nombre }}
                <small>Propiedades</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="{{ path('asociados') }}">Asociados</a></li>
                <li><a href="#">{{ asociado.nombre }}</a></li>
            </ol>
        </section>
        <section class="content">
            <hr/>
            <div class="col-sm-12">
                {% for message in app.session.flashbag().get('status') %}
                    <div id="status" class="alert alert-info">{{ message }}</div>
                    <div id="custom"></div>
                {% endfor %}
            </div>
            <div class="col-xs-12 col-md-6">
                    <div class="box box-default">
                        <div class="box-body">
                            <br/>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-xs-12 col-md-5">
                                        <figure>
                                            {% if (asociado.logotipo == 1) %}
                                                <img class="image-box" src="{{ asset("img/Back/logos/" ~ asociado.idAsociado  ~ ".jpg") }}" style="height: auto; width: 250px">
                                            {% else %}
                                                <div class="col-xs-12">
                                                    <input id="input-705" name="kartik-input-705[]" type="file" multiple class="file-loading">
                                                </div>
                                            {% endif %}
                                        </figure>
                                        <hr/>
                                    </div>
                                    <div class="col-xs-12 col-md-7">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <i class="fa fa-briefcase"></i>
                                                <a href="#" id="nombre-asociado" class="nombre-asociado" data-type="text" data-pk="{{ asociado.idAsociado }}" data-url="{{ path("update_post_asociado",{'id_asociado':asociado.idAsociado }) }}" data-title="Nombre del asociado">{{ asociado.nombre }}</a>
                                            </li>
                                            <li class="list-group-item">
                                                <i class="fa fa-tag"></i>
                                                <a href="#" id="nif-asociado" class="nif-asociado" data-type="text" data-pk="{{ asociado.idAsociado }}" data-url="{{ path("update_post_asociado",{'id_asociado':asociado.idAsociado }) }}" data-title="NIF del asociado">{{ asociado.nif }}</a>
                                            </li>
                                            <li class="list-group-item">
                                                <i class="fa fa-map-marker"></i>
                                                <a href="#" id="domicilio-asociado" class="domicilio-asociado" data-type="text" data-pk="{{ asociado.idAsociado }}" data-url="{{ path("update_post_asociado",{'id_asociado':asociado.idAsociado }) }}" data-title="Domicilio del asociado">{{ asociado.domicilio }}</a>
                                            </li>
                                            <li class="list-group-item">
                                                <i class="fa fa-map-marker"></i>
                                                <a href="#" id="codPostal-asociado" class="codPostal-asociado" data-type="text" data-pk="{{ asociado.idAsociado }}" data-url="{{ path("update_post_asociado",{'id_asociado':asociado.idAsociado }) }}" data-title="Codigo postal del asociado">{{ asociado.codigoPostal }}</a>
                                            </li>
                                            <li class="list-group-item">
                                                <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                                <a href="#" id="provincia-asociado" class="provincia-asociado" data-type="select" data-pk="{{ asociado.idAsociado }}" data-url="{{ path("update_post_asociado",{'id_asociado':asociado.idAsociado }) }}" data-title="Provincia del asociado">{{ asociado.provincia }}</a>
                                            </li>
                                            <li class="list-group-item">
                                                <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                                <a href="#" id="comunidad-asociado" class="comunidad-asociado" data-type="select" data-pk="{{ asociado.idAsociado }}" data-url="{{ path("update_post_asociado",{'id_asociado':asociado.idAsociado }) }}" data-title="Comunidad autónoma del asociado">{{ asociado.comunidadAutonoma }}</a>
                                            </li>
                                            <li class="list-group-item">
                                                <i class="fa fa-phone"></i>
                                                <a href="#" id="pais-asociado" class="pais-asociado" data-type="select" data-pk="{{ asociado.idAsociado }}" data-url="{{ path("update_post_asociado",{'id_asociado':asociado.idAsociado }) }}" data-title="Pais del asociado"> {% if(asociado.pais)=='ES' %} España {% elseif(asociado.pais=='PT') %} Portugal{% endif %} </a>
                                            </li>
                                            <li class="list-group-item">
                                                <i class="fa fa-user"></i>
                                                <a href="#" id="contacto-asociado" class="contacto-asociado" data-type="text" data-pk="{{ asociado.idAsociado }}" data-url="{{ path("update_post_asociado",{'id_asociado':asociado.idAsociado }) }}" data-title="Persona de contacto"> {{ asociado.contacto }} </a>
                                            </li>
                                            <li class="list-group-item">
                                                <i class="fa fa-phone"></i>
                                                <a href="#" id="telefono-asociado" class="telefono-asociado" data-type="text" data-pk="{{ asociado.idAsociado }}" data-url="{{ path("update_post_asociado",{'id_asociado':asociado.idAsociado }) }}" data-title="Teléfono de contacto"> {{ asociado.telefono }} </a>
                                            </li>
                                            <li class="list-group-item">
                                                <i class="fa fa-fax"></i>
                                                <a href="#" id="fax-asociado" class="fax-asociado" data-type="text" data-pk="{{ asociado.idAsociado }}" data-url="{{ path("update_post_asociado",{'id_asociado':asociado.idAsociado }) }}" data-title="Fax de contacto"> {{ asociado.fax }} </a>
                                            </li>
                                            <li class="list-group-item">
                                                <i class="fa fa-envelope"></i>
                                                <a href="#" id="email-asociado" class="email-asociado" data-type="text" data-pk="{{ asociado.idAsociado }}" data-url="{{ path("update_post_asociado",{'id_asociado':asociado.idAsociado }) }}" data-title="Email de contacto"> {{ asociado.eMail }} </a>
                                            </li>
                                            <li class="list-group-item">
                                                <i class="fa fa-status "></i>
                                                Estado del asociado: <a href="#" id="estado-asociado" class="estado-asociado" data-type="select" data-pk="{{ asociado.idAsociado }}" data-url="{{ path("update_post_asociado",{'id_asociado':asociado.idAsociado }) }}" data-title="Estado del asociado"> {% if(asociado.activo)=='0' %} <span class="label label-warning">Baja</span> {% elseif(asociado.activo=='1') %} <span class="label label-success">Activo</span> {% endif %} </a>
                                            </li>
                                            <li class="list-group-item"><i class="fa fa-barcode"></i> {{ '%04d'|format(asociado.codigoAsociado) }}</li>
                                        </ul>
                                    </div>
                                    <hr/>
                                    <div class="pull-left">
                                        <a href="{{ path('asociados') }}"><button type="button" class="btn btn-primary">Volver a asociados</button></a>
                                    </div>
                                    <div class="pull-right">
                                        <span class="time">Última edición <i class="fa fa-clock-o"></i>{{ asociado.fechaEdicion|date('d/m/Y H:i:s') }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-xs-12 col-md-6">

                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Listado de usuarios de {{ asociado.nombre }}</h3>
                        </div>
                        <div class="box-body">
                            <table id="usuarios" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Login</th>
                                    <th>Email</th>
                                    <th>Descargas</th>
                                    <th>AreaPrivada</th>
                                    <th>ExpoVirtual</th>
                                    <th>ExpoReal</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for usuario in asociado.usuarios %}
                                    <tr>
                                        <td>{{ usuario.idUsuario }}</td>
                                        <td><a href="#" id="login" class="login" data-type="text" data-pk="{{ usuario.idUsuario }}" data-url="{{ path("update_usuario_asociado",{'id_asociado':asociado.idAsociado,'id_usuario':usuario.idUsuario }) }}" data-title="Login usuario">{{ usuario.login }}</a></td>
                                        <td><a href="#" id="email" class="email" data-type="email" data-pk="{{ usuario.idUsuario }}" data-url="{{ path("update_usuario_asociado",{'id_asociado':asociado.idAsociado,'id_usuario':usuario.idUsuario }) }}" data-title="Email usuario">{{ usuario.email }} </a></td>
                                        <td><a href="#" id="estadoBloqueo" class="estadoBloqueo" data-type="select" data-pk="{{ usuario.idUsuario }}" data-url="{{ path("update_usuario_asociado",{'id_asociado':asociado.idAsociado,'id_usuario':usuario.idUsuario }) }}" data-title="Estado del usuario para descargas">{% if (usuario.estadoBloqueo=='Normal') %}<span class="label label-success">Activo</span>{% elseif(usuario.estadoBloqueo=='Permitido') %}<span class="label label-warning">Permitido</span>{% elseif(usuario.estadoBloqueo == 'Bloqueado') %}<span class="label label-danger">Bloqueado</span>{% endif %}</a></td>
                                        <td><a href="#" id="areaPrivada" class="areaPrivada" data-type="select" data-pk="{{ usuario.idUsuario }}" data-url="{{ path("update_usuario_asociado",{'id_asociado':asociado.idAsociado,'id_usuario':usuario.idUsuario }) }}" data-title="Acceso Area Privada">{% if (usuario.accWebPrivada) %}<span class="label label-success">Activo</span>{% elseif(usuario.accWebPrivada==0) %}<span class="label label-danger">Bloqueado</span>{% endif %}</a></td>
                                        <td><a href="#" id="expoVirtual" class="expoVirtual" data-type="select" data-pk="{{ usuario.idUsuario }}" data-url="{{ path("update_usuario_asociado",{'id_asociado':asociado.idAsociado,'id_usuario':usuario.idUsuario }) }}" data-title="Acceso ExpoVirtual">{% if (usuario.accWebExpoVirtual) %}<span class="label label-success">Activo</span>{% elseif(usuario.accWebExpoVirtual==0) %}<span class="label label-danger">Bloqueado</span>{% endif %}</a></td>
                                        <td><a href="#" id="expoFisica" class="expoFisica" data-type="select" data-pk="{{ usuario.idUsuario }}" data-url="{{ path("update_usuario_asociado",{'id_asociado':asociado.idAsociado,'id_usuario':usuario.idUsuario }) }}" data-title="Acceso ExpoVirtual">{% if (usuario.accWebExpoReal) %}<span class="label label-success">Activo</span>{% elseif(usuario.accWebExpoReal==0) %}<span class="label label-danger">Bloqueado</span>{% endif %}</a></td>
                                        <td><a href="{{ path("show_usuario_asociado",{ 'id_asociado': asociado.idAsociado,'id_usuario':usuario.idUsuario }) }}"><span class="label label-pill label-primary"><i class="fa fa-eye"></i></span></a></td>
                                        <td><a id ="delete" href="#" data-id = "{{ usuario.idUsuario }}" data-href="#" data-toggle="modal" data-target="#confirm-delete"><span class="label label-pill label-danger"><i class="fa fa-trash"></i></span></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <hr/>
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Nuevo usuario</button>
                            </div>

                        </div>
                    </div>
                </div>
        </section>

        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Confirmar la eliminación del usuario</h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Estás seguro de que quieres eliminar este usuario? <b>Si lo haces, no se podrá recuperar.</b></p>
                        <p>¿Quieres proceder con esta acción?</p>
                        <p class="debug-url"></p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <a id="delete-usuario" class="btn btn-danger btn-ok">Eliminar selección</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Alta de usuario de {{ asociado.nombre }}</h4>
                    </div>
                    <style>
                        .form-submit.btn.btn-primary {
                            float: right;
                            margin-top: 30px;
                            margin-right: 100px;
                            margin-left: -189px;
                        }
                        label{
                            margin-top:5px;
                        }
                    </style>
                    <div class="modal-body">
                        {{ form_start(form, {'action': path('create_usuario_asociado',{'id_asociado':asociado.idAsociado}), 'method': 'POST'}) }}
                        {{ form_errors(form) }}
                        {{ form_end(form) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
    </body>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var asociado = {{ asociado.idAsociado }}
        var array_provincias = {{ array_provincias|raw }}
        var array_comunidades = {{ array_comunidades|raw }}
    </script>
    <script src="{{ asset ("bootstrap3-editable/js/bootstrap-editable.js") }}"></script>
    <script src="{{ asset("js/customJS/usuariosJS.js") }}"></script>
    <script src="{{ asset("js/customJS/asociadosJS.js") }}"></script>
    <script>
        var $input = $("#input-705");
        var path = Routing.generate('upload_image_asociado', { id: {{ asociado.idAsociado  }}});
        $input.fileinput({
            uploadUrl: path,
            uploadAsync: false,
            showUpload: false,
            showRemove: false,
            minFileCount: 1,
            maxFileCount: 1
        }).on("filebatchselected", function(event, files) {
            $input.fileinput("upload");
        });
    </script>
{% endblock %}
