{% extends 'Backoffice/base.html.twig' %}
{% block body %}
    <body class="skin-red-light">
    <div class="wrapper">
        {% block header %}
            {% include 'Backoffice/header.html.twig' %}
        {% endblock %}

        {% block sidebar %}
            {% include 'Backoffice/sidebar.html.twig' %}
        {% endblock %}
    </div>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Administraci&oacute;n de asociados
                <small>Preview</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Asociados</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Listado de asociados de Cecofersa</h3>
                        </div>
                        <div class="box-body">
                            <table id="asociados" class="table table-bordered table-striped">

                                <div class="clearfix"></div>
                                <thead>
                                <div class="col-sm-4">
                                    <a href="{{ path('asociados') }}"><button type="button" class="btn btn-block btn-primary {% if filter is null %} disabled{% endif %}">Todos</button></a>
                                </div>
                                <div class="col-sm-4">
                                    <a href="{{ path('asociados',{'filter':'activos'}) }}"><button type="button" class="btn btn-block btn-primary {% if filter == 'activos' %} disabled{% endif %}">Activos</button></a>
                                </div>
                                <div class="col-sm-4">
                                    <a href="{{ path('asociados',{'filter':'inactivos'}) }}"><button type="button" class="btn btn-block btn-primary {% if filter == 'inactivos' %} disabled{% endif %}">Inactivos</button></a>
                                </div>
                                <hr/>
                                <br/>
                                <tr>
                                    <th>NIF</th>
                                    <th>C&oacute;digo Cecofersa</th>
                                    <th>Nombre asociado</th>
                                    <th>Usuarios</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for asociado in asociados %}
                                    <tr>
                                        <td>{{ asociado.nif }}</td>
                                        <td>{{ '%04d'|format(asociado.codigoAsociado) }}</td>
                                        <td><a href="{{ path('detalle_asociado',{'id_asociado':asociado.idAsociado}) }}"> {{asociado.nombre }}</a></td>
                                        <td><span class="badge">{{ asociado.usuarios|length }}</span></td>
                                        <td>{% if (asociado.activo) %}<span class="label label-success">Activo</span>{% else %}<span class="label label-warning">Baja</span>{% endif %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>NIF</th>
                                    <th>C&oacute;digo Cecofersa</th>
                                    <th>Nombre asociado</th>
                                    <th>Usuarios</th>
                                    <th>Status</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Actualizar asociados</h3>
                </div>
                <div class="box-body">
                    <div class="box-body">
                        <div class="col-xs-6">
                            <label class="control-label">Actualizaci&oacute;n de Asociados</label>
                            <input id="asociados_input" name="asociados[]" type="file" multiple class="file-loading" data-allowed-file-extensions='["csv"]'>
                        </div>
                        <div class="col-xs-6">
                            <label class="control-label">Actualizaci&oacute;n de Familias</label>
                            <input id="familias_input" name="familias[]" type="file" multiple class="file-loading" data-allowed-file-extensions='["csv"]'>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
    </body>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    $(document).ready(function() {
       $('#asociados').DataTable({
            "ordering": false,
            "pageLength":20,
            "lengthChange": false,
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            }
       });
    });
    </script>
    <script>
        var $input = $("#asociados_input");
        var path = Routing.generate('update_asociado_csv');
        var path_familias = Routing.generate('update_familias_asociado_csv');
        $input.fileinput({
            showCaption: false,
            uploadUrl: path,
        }).on("filebatchselected", function(event, files) {
            $input.fileinput("upload");
        });
        var $input1 = $("#familias_input");
        $input1.fileinput({
            showCaption: false,
            uploadUrl: path_familias,
            minFileCount: 1,
            maxFileCount: 1
        }).on("filebatchselected", function(event, files) {
            $input1.fileinput("upload");
        });
    </script>

{% endblock %}
