
<html>
{% block header %}
    {% include 'Cecofersa/header.html.twig' %}
{% endblock %}
<body>
<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-2 col-sm-6">

                <!-- header-top-first start -->
                <!-- ================ -->
                <div class="header-top-first clearfix" style="padding-top: 0.5em;">
                    <div class="btn-group dropdown" style="padding-right: 2em;">
                        <a href="{{ asset("img/cecofersa/logo_cecofersa.jpg") }}" download> Descarga logo <i class="fa fa-download"></i></a>
                    </div>
                    <div class="btn-group dropdown">
                        <a href="{{ asset("img/cecofersa/ardilla_cecofersa.jpg") }}" download> Descarga ardilla <i class="fa fa-download"></i></a>
                    </div>
                </div>
                <!-- header-top-first end -->
            </div>
            <div class="col-xs-10 col-sm-6">

                <!-- header-top-second start -->
                <!-- ================ -->
                <div id="header-top-second"  class="clearfix">

                    <!-- header top dropdowns start -->
                    <!-- ================ -->

                    <div class="header-top-dropdown">
                        <div class="btn-group dropdown">
                        </div>
                        <div id="style_feria" class="btn-group dropdown">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <a href="" id="feria">Acceso Expocecofersa 2017</a></button>
                        </div>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <a href="" id="area">Acceso &aacute;rea privada</a></button>
                        </div>


                        <div class="btn-group dropdown">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><img src="{{ asset("img/cecofersa/Bandera Spa.gif") }}" height="15" width="15"></button>
                            <ul class="dropdown-menu Private Area dropdown-animation cart" style="min-width: 83px;">
                                <li>
                                    <table class="table table-hover">
                                        <tbody>

                                        <tr>
                                        </tr>
                                        <tr>
                                            <td class="total-quantity" colspan="2"><a href="{{ path('index',{'languaje':'en'}) }}">English</a></td>

                                        </tr>
                                        <tr>
                                            <td class="total-quantity" colspan="2"><a href="<?php echo base_url();?>pt/folhetos">Portugues</a></td>

                                        </tr>
                                        </tbody>
                                    </table>

                                </li>
                            </ul>
                        </div>

                    </div>
                    <!--  header top dropdowns end -->

                </div>
                <!-- header-top-second end -->

            </div>
        </div>
    </div>
</div>

<!-- header-top end -->

</body>

<!-- page-wrapper end -->

<!-- JavaScript files placed at the end of the document so the pages load faster
================================================== -->
<!-- Jquery and Bootstap core js files -->
<script type="text/javascript" src="{{ asset("plugins/jquery.js") }}"></script>
<?php if(isset($catalogo)){?>
<script>
    $('html,body').animate({
                scrollTop: $("#tabla").offset().top},
            800);
</script>

<?php }?>

<script type="text/javascript" src="{{ asset("js/cecofersa/bootstrap.min.js") }}"></script>

<!-- Modernizr javascript -->
<script type="text/javascript" src="{{ asset("plugins/modernizr.js") }}<?php echo base_url();?>/public_html/plugins/modernizr.js"></script>

<!-- Isotope javascript -->
<script type="text/javascript" src="{{ asset("plugins/isotope/isotope.pkgd.min.js") }}<?php echo base_url();?>/public_html/plugins/isotope/isotope.pkgd.min.js"></script>

<!-- Owl carousel javascript -->
<script type="text/javascript" src="{{ asset("plugins/owl-carousel/owl.carousel.js") }}<?php echo base_url();?>/public_html/plugins/owl-carousel/owl.carousel.js"></script>

<!-- Magnific Popup javascript -->
<script type="text/javascript" src="{{ asset("plugins/magnific-popup/jquery.magnific-popup.min.js") }}"></script>

<!-- Appear javascript -->
<script type="text/javascript" src="{{ asset("plugins/jquery.appear.js") }}"></script>

<!-- Sharrre javascript -->
<script type="text/javascript" src="{{ asset("plugins/jquery.sharrre.js") }}"></script>

<!-- Count To javascript -->
<script type="text/javascript" src="{{ asset("plugins/jquery.countTo.js") }}"></script>

<!-- Parallax javascript -->
<script src="{{ asset("plugins/jquery.parallax-1.1.3.js") }}"></script>

<!-- Contact form -->
<script src="{{ asset("plugins/jquery.validate.js") }}"></script>

<!-- SmoothScroll javascript -->
<script type="text/javascript" src="{{ asset("plugins/jquery.browser.js") }}"></script>
<script type="text/javascript" src="{{ asset("plugins/SmoothScroll.js") }}"></script>

<!-- Initialization of Plugins -->
<script type="text/javascript" src="{{ asset("js/cecofersa/template.js") }}"></script>

<!-- Custom Scripts -->
<script type="text/javascript" src="{{ asset("js/cecofersa/custom.js") }}"></script>

<script>
    $('#area').click(function(){
        window.open('http://asociados.cecofersa.com', '_blank');});
</script>

<script>
    $('#feria').click(function(){
        window.open('http://expovirtual.cecofersa.com', '_blank');});
</script>


<script>
    $("#catalogo").click(function() {

        $('html,body').animate({
                    scrollTop: $("#tabla").offset().top},
                800);
    });
</script>

<script>   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)   })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');    ga('create', 'UA-72941211-2', 'auto');   ga('send', 'pageview');  </script></body>

</html>