<head>
    <meta charset="utf-8">
    <title>Cecofersa | Central de compras y servicios profesionales S.A.</title>
    <meta name="description" content="Central de compras y servicios profesionales, S.A.
		CECOFERSA es la mayor Cadena de distribuci&oacute;n espa&ntilde;ola de Ferreter&iacute;a Industrial y Suministros Industriales.
		Cuenta con m&aacute;s de 120 empresas asociadas y con 250 establecimientos por toda Espa&ntilde;a y Portugal">
    <meta name="Cecofersa" content="cecofersa.com">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="<?php echo base_url();?>/public_html/images/favicon.ico">

    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->

    <link href="{{ asset("css/bootstrap/cecofersa/bootstrap.css") }}" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="{{ asset("fonts/font-awesome/css/font-awesome.css") }}" rel="stylesheet">

    <!-- Fontello CSS -->
    <link href="{{ asset("fonts/fontello/css/fontello.css") }}" rel="stylesheet">

    <!-- Plugins -->
    <link href="{{ asset("plugins/rs-plugin/css/settings.css") }}" media="screen" rel="stylesheet">
    <link href="{{ asset("plugins/rs-plugin/css/extralayers.css") }}" media="screen" rel="stylesheet">
    <link href="{{ asset("plugins/magnific-popup/magnific-popup.css") }}" rel="stylesheet">
    <link href="{{ asset("css/cecofersa/animations.css") }}" rel="stylesheet">
    <link href="{{ asset("plugins/owl-carousel/owl.carousel.css") }}" rel="stylesheet">

    <!-- iDea core CSS file -->
    <link href="{{ asset("css/cecofersa/style.css") }}" rel="stylesheet">
    <link href="{{ asset("css/bootstrap/cecofersa/estilos.css") }}" rel="stylesheet">

    <!-- Color Scheme (In order to change the color scheme, replace the red.css with the color scheme that you prefer)-->
    <link href="{{ asset("css/cecofersa/skins/red.css") }}" rel="stylesheet">

    <!-- Custom css -->
    <link href="{{ asset("css/cecofersa/custom.css") }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<!-- body classes:
        "boxed": boxed layout mode e.g. <body class="boxed">
        "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1">
-->
