<!-- header start classes:
				fixed: fixed navigation mode (sticky menu) e.g. <header class="header fixed clearfix">
				 dark: dark header version e.g. <header class="header dark clearfix">
			================ -->
<header class="header fixed clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <!-- header-left start -->
                <!-- ================ -->
                <div class="header-left clearfix">

                    <!-- logo -->
                    <div class="logo">
                        <a href="{{ path('ceco_index',{'languaje':languaje}) }}"><img id="logo" src="{{ asset("img/cecofersa/logo.png") }}" alt="Cecofersa"></a>
                    </div>

                    <!-- name-and-slogan -->

                </div>
                <!-- header-left end -->

            </div>
            <div class="col-md-9">

                <!-- header-right start -->
                <!-- ================ -->
                <div class="header-right clearfix">

                    <!-- main-navigation start -->
                    <!-- ================ -->
                    <div class="main-navigation animated">

                        <!-- navbar start -->
                        <!-- ================ -->
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">

                                <!-- Toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li {% if activo=='index' %}class="active"{% endif %}>
                                            <a href="{{ path('ceco_index',{'languaje':languaje}) }}">
                                                {% if languaje == 'es' %}
                                                    Inicio
                                                {% elseif languaje == 'en' %}
                                                    Home
                                                {% elseif languaje == 'pt' %}
                                                    Início
                                                {% endif %}
                                            </a>
                                        </li>

                                        <li {% if activo=='somos' %}class="active"{% endif %}>
                                            <a href="{{ path('ceco_somos',{'languaje':languaje}) }}">
                                                {% if languaje == 'es' %}
                                                    ¿Quiénes somos?
                                                {% elseif languaje == 'en' %}
                                                    About Us
                                                {% elseif languaje == 'pt' %}
                                                    ¿Quem somos?
                                                {% endif %}
                                            </a>

                                        </li>
                                        <!-- mega-menu start -->
                                        <li {% if activo=='servicios' %}class="active"{% endif %}>
                                            <a href="{{ path('ceco_servicios',{'languaje':languaje}) }}">
                                                {% if languaje == 'es' %}
                                                    Servicios
                                                {% elseif languaje == 'en' %}
                                                    Services
                                                {% elseif languaje == 'pt' %}
                                                    Serviços
                                                {% endif %}
                                            </a>

                                        </li>
                                        <li {% if activo=='folletos' %}class="active"{% endif %}>
                                            <a href="{{ path('ceco_folletos',{'languaje':languaje}) }}">
                                                {% if languaje == 'es' %}
                                                    Folletos
                                                {% elseif languaje == 'en' %}
                                                    Brochures
                                                {% elseif languaje == 'pt' %}
                                                    Folhetos
                                                {% endif %}
                                            </a>

                                        </li>



                                        <li class="dropdown {% if activo=='productos' %}active{% endif %}{% if activo=='informacion' %}active{% endif %}">
                                            <a href="" class="dropdown-toggle">CECO</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ path('ceco_productos',{'languaje':languaje}) }}">
                                                        {% if languaje == 'es' %}
                                                            Productos CECO
                                                        {% elseif languaje == 'en' %}
                                                            CECO Products
                                                        {% elseif languaje == 'pt' %}
                                                            Produtos CECO
                                                        {% endif %}

                                                    </a></li>
                                                <li><a href="{{ path('ceco_informacion',{'languaje':languaje}) }}">
                                                        {% if languaje=='es' %}
                                                            Informaci&oacute;n CECO
                                                        {% elseif languaje == 'en' %}
                                                            CECO Information
                                                        {% elseif languaje == 'pt' %}
                                                            Informaçao CECO
                                                        {% endif %}
                                                    </a></li>

                                            </ul>
                                        </li>



                                        <li {% if activo=='asociados' %}class="active"{% endif %}>
                                            <a href="{{ path('ceco_asociados',{'languaje':languaje}) }}">
                                                {% if languaje == 'es' %}
                                                    Asociados
                                                {% elseif languaje == 'en' %}
                                                    Members
                                                {% elseif languaje == 'pt' %}
                                                    Associados
                                                {% endif %}
                                            </a>

                                        </li>
                                        <li {% if activo=='contacto' %}class="active"{% endif %}>
                                            <a href="{{ path('ceco_contacto',{'languaje':languaje}) }}">
                                                {% if languaje == 'es' %}
                                                    Contacto
                                                {% elseif languaje == 'en' %}
                                                    Contact
                                                {% elseif languaje == 'pt' %}
                                                    Contato
                                                {% endif %}
                                            </a>

                                        </li>



                                    </ul>
                                </div>

                            </div>
                        </nav>
                        <!-- navbar end -->

                    </div>
                    <!-- main-navigation end -->

                </div>
                <!-- header-right end -->

            </div>
        </div>
    </div>
</header>
<!-- header end -->