<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p> Username </p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..."/>
          <span class="input-group-btn">
            <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
          </span>
            </div>
        </form>

        <ul class="sidebar-menu">
            <li class="active">
                <a href="{{ path('asociados') }}"><span>Inicio</span></a>
            </li>
            <li>
                <a href="{{ path('asociados') }}"><span>Asociados</span></a>
            </li>
            <li>
                <a href="{{ path('proveedores') }}"><span>Proveedores</span></a>
            </li>
            <li>
                <a href=""><span>Ficheros</span></a>
            </li>

            <li>
                <a href=""><span>Leer asociados</span></a>
            </li>

            <li class="treeview">
                <a href=""><span>ExpoCecofersa Virtual</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="">Seguimiento descargas asociado</a></li>
                    <li><a href="">Estadísticas</a></li>
                </ul>
            </li>
            <li>
                <a href=""><span>Gestión CompraBuena</span></a>
            </li>
            <li class="treeview">
                <a href=""><span>CompraBuena</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="">Pedidos</a></li>
                    <li><a href="">Clientes</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href=""><i class="fa fa-folder"></i><span>Informes</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="{{ path("relacionEmpresasToPdf") }}">Relación de asociados a terceros</a></li>
                    <li><a href="{{ path("relacionEmpresasPortugalToPdf") }}">Relación de asociados Portugal</a></li>
                    <li><a href="{{ path("relacionEmpresasAreaGeograficaToPdf") }}">Relación de asociados por área geográfica</a></li>
                    <li><a href="{{ path("etiquetasToPdf") }}">Etiquetas para env&iacute;os</a></li>
                </ul>
            </li>

        </ul>
    </section>

</aside>