{% extends 'Backoffice/base.html.twig' %}
{% block body %}
    <body class="skin-red-light">
    <div class="wrapper">
        {% block header %}
            {% include 'Backoffice/header.html.twig' %}
        {% endblock %}

        {% block sidebar %}
            {% include 'Backoffice/sidebar.html.twig' %}
        {% endblock %}
    </div>
    <div class="content-wrapper" style="height: calc(250vh);">
        <section class="content-header">
            <h1>
                {{ proveedor.proveedor }}
                <small>Propiedades</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="ruta a index proveedores">Proveedores</a></li>
                <li><a href="#">{{ proveedor.proveedor }}</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="col-xs-12">
                <div class="col-lg-1"></div>
                <div class="col-xs-12 col-lg-7">
                    <div class="box box-default">
                        <div style="text-align: center" class="box-header with-border">
                            <h3 class="box-title">PLANTILLA DE PROVEEDOR</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div id="plantilla" class="col-xs-12">
                                    {% include 'Backoffice/Proveedores/index1.html.twig'%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-3">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <a href="{{ path('PDFplantilla', { 'id_proveedor': proveedor.idProveedor }) }}"><button type="button" class="btn btn-primary">Descargar PDF Plantilla</button></a>
                            <a href="{{ path('PDFficha',  { 'id_proveedor': proveedor.idProveedor }) }}"><button type="button" class="btn btn-primary">Descargar PDF Ficha</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </body>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap-editable/js/bootstrap-editable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/inputs-ext/wysihtml5/wysihtml5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/inputs-ext/wysihtml5/bootstrap-wysihtml5-0.0.2/wysihtml5-0.3.0.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/inputs-ext/wysihtml5/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2.js"></script>


    <script>
        var array_provincias = {{ array_provincias|raw }}
        var path = Routing.generate('proveedor_update',true);
        $(function(){
            $('#comments').editable({
                title: 'Edición de observaciones',
                url: path
            });
        });

        $('#nombre-proveedor').editable({
            tpl: "<input type='text' style='width: 400px'>",
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }

        });

        $('#nif-proveedor').editable({
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }

        });

        $('#direccion-proveedor').editable({
            tpl: "<input type='text' style='width: 400px'>",
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }

        });

        $('#poblacion-proveedor').editable({
            tpl: "<input type='text' style='width: 200px'>",
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }

        });
        $('#codigoPostal-proveedor').editable({
            tpl: "<input type='text' style='width: 100px'>",
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }

        });
        $('#provincia-proveedor').editable({
            source: array_provincias,
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }

        });

        $('#responsable-convenio-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#email-responsable-convenio-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#telefono-proveedor').editable({
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#fax-proveedor').editable({
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#pagina-web-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#cargo-responsable-convenio-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#convenio-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });

        $('#fecha-convenio-proveedor').editable({
            format:'dd/mm/yyyy',
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#vigencia-proveedor').editable({
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#precio-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#descuentos-factura-proveedor').editable({
            title: 'Descuentos factura',
            url: path,
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#iva-precio-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#gestion-centralizada-proveedor').editable({
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#forma-pago-proveedor').editable({
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#pronto-pago-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#pedido-minimo-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#portes-peninsula-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#portes-portugal-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#portes-canarias-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#portes-baleares-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#portes-ceuta-melilla-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#articulos-comercializa-proveedor').editable({
            title: 'Articulos que comercializa el proveedor',
            url: path,
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#rappel-cecofersa-proveedor').editable({
            title: 'Especificación del Rappel Cecofersa',
            url: path,
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#rappel-asociado-proveedor').editable({
            title: 'Especificación del Rappel Asociado',
            url: path,
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#observaciones-proveedor').editable({
            title: 'Observaciones',
            url: path,
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#publicidad-proveedor').editable({
            title: 'Especificación publicidad',
            url: path,
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#expocecofersa-proveedor').editable({
            source: [
                {value: 'VERDADERO', text: 'Participa'},
                {value: 'FALSO', text: 'No Participa'}
            ],
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });

    </script>

{% endblock %}