{% extends 'Backoffice/base.html.twig' %}
{% block body %}
    <body class="skin-red-light">
    <div class="wrapper">
        {% block header %}
            {% include 'Backoffice/header.html.twig' %}
        {% endblock %}

        {% block sidebar %}
            {% include 'Backoffice/sidebar.html.twig' %}
        {% endblock %}
    </div>
    <div class="content-wrapper" style="height: calc(250vh);">
        <section class="content-header">
            <h1>
                {{ proveedor.proveedor }}
                <small>Propiedades</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="{{ path('proveedores') }}">Proveedores</a></li>
                <li><a href="{{ path('detalle_proveedor',{'id_proveedor':proveedor.idProveedor}) }}">{{ proveedor.proveedor }}</a></li>
            </ol>
        </section>
        <section class="content">
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Ficha del proveedor {{ proveedor.proveedor }}</h3>
                        </div>
                        <div class="box-body">
                            <br/>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-xs-12 col-md-5">
                                        <figure>
                                            {% if (proveedor.logotipo == 1) %}
                                                <img class="image-box" src="{{ asset("img/Back/logos/proveedores/" ~ proveedor.idProveedor  ~ ".jpg") }}" style="height: auto; width: 250px">
                                            {% else %}
                                                <div class="col-xs-12">
                                                    Logotipo
                                                    <input id="input-705" name="kartik-input-705[]" type="file" multiple class="file-loading">
                                                </div>
                                            {% endif %}
                                        </figure>
                                        <hr/>
                                    </div>
                                    <div class="col-xs-12 col-md-7">
                                        <p>RAZÓN SOCIAL: <a href="#" id="nombre-proveedor" class="nombre-proveedor" data-type="text" data-pk="{{ proveedor.idProveedor }}" data-url="{{ path("proveedor_update",{'id_proveedor':proveedor.idProveedor }) }}" data-title="Nombre del proveedor">{{ proveedor.proveedor }}</a></p>
                                        <p>NIF: <a href="#" id="nif-proveedor" class="nif-proveedor" data-type="text" data-pk="{{ proveedor.idProveedor }}" data-url="{{ path("proveedor_update",{'id_proveedor':proveedor.idProveedor }) }}" data-title="NIF del proveedor">{{ proveedor.nif }}</a></p>
                                        <p>DIRECCIÓN: <a href="#" id="direccion-proveedor" class="direccion-proveedor" data-type="text" data-pk="{{ proveedor.idProveedor }}" data-url="{{ path("proveedor_update",{'id_proveedor':proveedor.idProveedor }) }}" data-title="Dirección del proveedor">{{ proveedor.direccion }}</a></p>
                                        <p>POBLACIÓN: <a href="#" id="poblacion-proveedor" class="poblacion-proveedor" data-type="text" data-pk="{{ proveedor.idProveedor }}" data-url="{{ path("proveedor_update",{'id_proveedor':proveedor.idProveedor }) }}" data-title="Población del proveedor">{{ proveedor.poblacion }}</a></p>
                                        <p>CÓDIGO POSTAL: <a href="#" id="codigoPostal-proveedor" class="codigoPostal-proveedor" data-type="text" data-pk="{{ proveedor.idProveedor }}" data-url="{{ path("proveedor_update",{'id_proveedor':proveedor.idProveedor }) }}" data-title="Código postal del proveedor">{{ proveedor.codigoPostal }}</a></p>
                                        <p>PROVINCIA: <a href="#" id="provincia-proveedor" class="provincia-proveedor" data-type="select" data-pk="{{ proveedor.idProveedor }}" data-url="{{ path("proveedor_update",{'id_proveedor':proveedor.idProveedor }) }}" data-title="Provincia del proveedor">{{ proveedor.provincia }}</a></p>
                                        <p>RESPONSABLE: <a href="#" id="responsable-convenio-proveedor" class="responsable-convenio-proveedor" data-type="text" data-pk="{{ proveedor.idProveedor }}" data-url="{{ path("proveedor_update",{'id_proveedor':proveedor.idProveedor }) }}" data-title="Responsable del convenio">{{ proveedor.responsableConvenio }}</a></p>
                                        <p>CARGO RESP.: <a href="#" id="cargo-responsable-convenio-proveedor" class="cargo-responsable-convenio-proveedor" data-type="text" data-pk="{{ proveedor.idProveedor }}" data-url="{{ path("proveedor_update",{'id_proveedor':proveedor.idProveedor }) }}" data-title="Cargo responsable del convenio del proveedor">{{ proveedor.cargoConvenio }}</a></p>
                                        <p>E-MAIL: <a href="#" id="email-responsable-convenio-proveedor" class="email-responsable-convenio-proveedor" data-type="email" data-pk="{{ proveedor.idProveedor }}" data-url="{{ path("proveedor_update",{'id_proveedor':proveedor.idProveedor }) }}" data-title="Email responsable del convenio">{{ proveedor.emailConvenio }}</a></p>
                                        <p>TELÉFONO: <a href="#" id="telefono-proveedor" class="telefono-proveedor" data-type="text" data-pk="{{ proveedor.idProveedor }}" data-url="{{ path("proveedor_update",{'id_proveedor':proveedor.idProveedor }) }}" data-title="Teléfono de contacto">{{ proveedor.telefono }}</a></p>
                                        <p>FAX: <a href="#" id="fax-proveedor" class="fax-proveedor" data-type="text" data-pk="{{ proveedor.idProveedor }}" data-url="{{ path("proveedor_update",{'id_proveedor':proveedor.idProveedor }) }}" data-title="Fax de contacto">{{ proveedor.fax }}</a></p>
                                        <p>PÁGINA WEB: <a href="#" id="pagina-web-proveedor" class="pagina-web-proveedor" data-type="text" data-pk="{{ proveedor.idProveedor }}" data-url="{{ path("proveedor_update",{'id_proveedor':proveedor.idProveedor }) }}" data-title="Página web proveedor">{{ proveedor.paginaWeb }}</a></p>
                                        <p>CONVENIO: <a href="#" id="convenio-proveedor" class="convenio-proveedor" data-type="text" data-pk="{{ proveedor.idProveedor }}" data-url="{{ path("proveedor_update",{'id_proveedor':proveedor.idProveedor }) }}" data-title="Identificador del convenio de colaboración">{{ proveedor.convenioColaboracion }}</a></p>
                                        <p>FECHA: <a href="#" id="fecha-convenio-proveedor" class="fecha-convenio-proveedor" data-type="date" data-pk="{{ proveedor.idProveedor }}" data-url="{{ path("proveedor_update",{'id_proveedor':proveedor.idProveedor }) }}" data-title="Fecha plantilla">{{ proveedor.fechaConvenio|date("d/m/Y") }}</a></p>
                                        <p>VIGENCIA: <a href="#" id="vigencia-proveedor" class="vigencia-proveedor" data-type="text" data-pk="{{ proveedor.idProveedor }}" data-url="{{ path("proveedor_update",{'id_proveedor':proveedor.idProveedor }) }}" data-title="Vigencia plantilla">{{ proveedor.vigencia }}</a></p>
                                    </div>
                                    <hr/>
                                    <div class="pull-left">
                                        <a href="{{ path('proveedores') }}"><button type="button" class="btn btn-primary">Volver a Proveedores</button></a>
                                        <a href="{{ path('plantilla_proveedor',{'id_proveedor':proveedor.idProveedor}) }}"><button type="button" class="btn btn-primary">Ir a plantilla</button></a>
                                    </div>
                                    <div class="pull-right">
                                        <span class="time">Última edición <i class="fa fa-clock-o"></i>{% if (proveedor.fechaEdicion) %}{{ proveedor.fechaEdicion|date('d/m/Y H:i:s') }} {% endif %}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">LISTADO DE FICHEROS DE {{ proveedor.proveedor|upper }}</h3>
                        </div>
                        <div class="box-body">
                            <table id="ficherosProveedor" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Tipo</th>
                                    <th>Fecha creación</th>
                                    <th>Fecha caducidad</th>
                                    <th>Publicar</th>
                                    <th>Descargar</th>
                                    <th>Eliminar</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for fichero in ficheros %}
                                    <tr {% if ("now"|date('d/m/Y') > fichero.fechaCaducidad|date('d/m/Y')) %} style="background-color: darkgrey;" {% endif %}>
                                        <td>{{ fichero.idFichero }}</td>
                                        <td>{{ fichero.nombre }}</td>
                                        <td>{{ fichero.tipo }}</td>
                                        <td>{{ fichero.fechaCreacion|date('d/m/Y') }}</td>
                                        <td>{% if(fichero.fechaCaducidad is not null) %}{{ fichero.fechaCaducidad|date('d/m/Y') }}{% endif %}</td>
                                        <td><input class="toggle-one" data = "{{ fichero.idFichero }}" type="checkbox" {% if fichero.publicado == 1 %} checked {% endif %} data-toggle="toggle1" data-size="mini"></td>
                                        <td><a href="#">{% if ('.pdf' in fichero.nombre) %}<i class="fa fa-file-pdf-o fa-2x" style="color:#dd4b39;" aria-hidden="true"></i>{% elseif('.xlsx' in fichero.nombre or '.xls' in fichero.nombre) %}<i class="fa fa-file-excel-o fa-2x" style="color:darkgreen;" aria-hidden="true"></i>{% else %}{% endif %}</a></td>
                                        <td><a id ="boton-delete-fichero" href="#" data-id = "{{ fichero.idFichero }}" data-href="#" data-toggle="modal" data-target="#confirm-delete-fichero"><span class="label label-pill label-danger"><i class="fa fa-trash"></i></span></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">LISTADO DE USUARIOS DE {{ proveedor.proveedor|upper }}</h3>
                        </div>
                        <div class="box-body">
                            <table id="usuariosProveedores" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Login</th>
                                    <th>Email</th>
                                    <th>ExpoVirtual</th>
                                    <th>ExpoReal</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for usuario in proveedor.usuarios %}
                                    <tr>
                                        <td>{{ usuario.idUsuario }}</td>
                                        <td><a href="#" id="login" class="login" data-type="text" data-pk="{{ usuario.idUsuario }}" data-url="{{ path("update_usuario_proveedor",{'id_proveedor':proveedor.idProveedor,'id_usuario':usuario.idUsuario }) }}" data-title="Login usuario">{{ usuario.login }}</a></td>
                                        <td><a href="#" id="email" class="email" data-type="email" data-pk="{{ usuario.idUsuario }}" data-url="{{ path("update_usuario_proveedor",{'id_proveedor':proveedor.idProveedor,'id_usuario':usuario.idUsuario }) }}" data-title="Email usuario">{{ usuario.email }} </a></td>
                                        <td><a href="#" id="expoVirtual" class="expoVirtual" data-type="select" data-pk="{{ usuario.idUsuario }}" data-url="{{ path("update_usuario_proveedor",{'id_proveedor':proveedor.idProveedor,'id_usuario':usuario.idUsuario }) }}" data-title="Acceso ExpoVirtual">{% if (usuario.accesoWebExpoVirtual) %}<span class="label label-success">Activo</span>{% elseif(usuario.accWebExpoVirtual==0) %}<span class="label label-danger">Bloqueado</span>{% endif %}</a></td>
                                        <td><a href="#" id="expoFisica" class="expoFisica" data-type="select" data-pk="{{ usuario.idUsuario }}" data-url="{{ path("update_usuario_proveedor",{'id_proveedor':proveedor.idProveedor,'id_usuario':usuario.idUsuario }) }}" data-title="Acceso ExpoVirtual">{% if (usuario.accesoWebExpoReal) %}<span class="label label-success">Activo</span>{% elseif(usuario.accWebExpoReal==0) %}<span class="label label-danger">Bloqueado</span>{% endif %}</a></td>
                                        <td><a href="#"><span class="label label-pill label-primary"><i class="fa fa-eye"></i></span></a></td>
                                        <td><a id ="delete" href="#" data-id = "{{ usuario.idUsuario }}" data-href="#" data-toggle="modal" data-target="#confirm-delete"><span class="label label-pill label-danger"><i class="fa fa-trash"></i></span></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <hr/>
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Nuevo usuario</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="usuarioLabel">Confirmar la eliminación del usuario</h4>
                        </div>
                        <div class="modal-body">
                            <p>¿Estás seguro de que quieres eliminar este usuario? <b>Si lo haces, no se podrá recuperar.</b></p>
                            <p>¿Quieres proceder con esta acción?</p>
                            <p class="debug-url"></p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <a id="delete-usuario" class="btn btn-danger btn-ok">Eliminar selección</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="confirm-delete-fichero" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="ficheroLabel">Confirmar la eliminación del fichero</h4>
                        </div>
                        <div class="modal-body">
                            <p>¿Estás seguro de que quieres eliminar este fichero? <b>Si lo haces, no se podrá recuperar.</b></p>
                            <p>¿Quieres proceder con esta acción?</p>
                            <p class="debug-url"></p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <a id="delete-fichero" class="btn btn-danger btn-ok">Eliminar selección</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Alta de usuario de {{ proveedor.proveedor }}</h4>
                        </div>
                        <style>
                            .form-submit.btn.btn-primary {
                                float: right;
                                margin-top: 30px;
                                margin-right: 100px;
                                margin-left: -189px;
                            }
                            label{
                                margin-top:5px;
                            }
                        </style>
                        <div class="modal-body">
                            {{ form_start(form, {'action': path('create_usuario_proveedor',{'id_proveedor':proveedor.idProveedor}), 'method': 'POST'}) }}
                            {{ form_errors(form) }}
                            {{ form_end(form) }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
    </body>
{% endblock %}
{% block javascripts %}
    <script>
        var proveedor = {{ proveedor.idProveedor }}
    </script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap-editable/js/bootstrap-editable.min.js"></script>
    <script src="{{ asset ("js/jquery.dataTables.min.js") }}"></script>
    <script src="{{ asset ("js/dataTables.bootstrap.min.js") }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/fileinput.min.js') }}"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script>
        $('#ficherosProveedor tbody').on('click', 'a#boton-delete-fichero', function () {
            var id = $(this).data('id');
            console.log(id);
            $('#boton-delete-fichero').on('show.bs.modal', function(e) {
                $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            });
            $('#delete-fichero').unbind("click").click(function(){
                $('#deleted-fichero').attr('hidden');
                $('#deleted-fichero').empty();
                var path = Routing.generate('fichero_delete',true);
                $.ajax({
                    url: path,
                    data: {id_fichero: id},
                    type: 'POST',
                    dataType: "json",
                    success: function (response) {
                        if(response.success==true){
                            $('#status').addClass('hidden');
                            $('#custom').removeAttr('hidden').addClass('alert alert-success').html("").append('¡Usuario eliminado correctamente!');
                        }else{
                            $('#deleted-usuario').removeAttr('hidden').addClass('alert alert-danger').append('¡ERROR! El usuario no se ha borrado!');
                        }
                    }
                });
                $('[data-id='+id+']').parents('tr').remove();
                $('#confirm-delete-fichero').modal('hide');
            });
        });
        $('.toggle-one').change(function(e) {
            e.preventDefault();
            id_fichero = ($(this).attr("data"));
            status = ($(this).prop('checked'));

            var path = Routing.generate('fichero_update');
            var formData = {id_fichero:id_fichero, status: status};
            $.ajax({
                method: 'POST',
                url: path,
                data: formData
            }).done(function(msg) {
                //console.log('wow' + msg);
            });
        });
        $('#ficherosProveedor').DataTable({
            "ordering": false,
            "pageLength": 20,
            "lengthChange": false,
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

            }
        });

    </script>
    <script>
        var $input = $("#input-705");
        var path = Routing.generate('upload_image_proveedor', { id: {{ proveedor.idProveedor  }}});
        $input.fileinput({
            uploadUrl: path,
            uploadAsync: false,
            showUpload: false,
            showRemove: false,
            minFileCount: 1,
            maxFileCount: 1,
            mainClass: "input-group-sm"

        }).on("filebatchselected", function(event, files) {
            $input.fileinput("upload");
        });


        var array_provincias = {{ array_provincias|raw }}
        var path = Routing.generate('proveedor_update',true);
        $(function(){
            $('#comments').editable({
                title: 'Edición de observaciones',
                url: path
            });
        });

        $('#nombre-proveedor').editable({
            tpl: "<input type='text' style='width: 400px'>",
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }

        });

        $('#nif-proveedor').editable({
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }

        });

        $('#direccion-proveedor').editable({
            tpl: "<input type='text' style='width: 400px'>",
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }

        });

        $('#poblacion-proveedor').editable({
            tpl: "<input type='text' style='width: 200px'>",
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }

        });

        $('#codigoPostal-proveedor').editable({
            tpl: "<input type='text' style='width: 100px'>",
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }

        });
        $('#provincia-proveedor').editable({
            source: array_provincias,
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }

        });

        $('#responsable-convenio-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#email-responsable-convenio-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#telefono-proveedor').editable({
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#fax-proveedor').editable({
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#pagina-web-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#cargo-responsable-convenio-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#convenio-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });

        $('#fecha-convenio-proveedor').editable({
            format:'dd/mm/yyyy',
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#vigencia-proveedor').editable({
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#precio-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#descuentos-factura-proveedor').editable({
            title: 'Descuentos factura',
            url: path,
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#iva-precio-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#gestion-centralizada-proveedor').editable({
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#forma-pago-proveedor').editable({
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#pronto-pago-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#pedido-minimo-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#portes-peninsula-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#portes-portugal-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#portes-canarias-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#portes-baleares-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#portes-ceuta-melilla-proveedor').editable({
            tpl: "<input type='text' style='width: 300px'>",
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#articulos-comercializa-proveedor').editable({
            title: 'Articulos que comercializa el proveedor',
            url: path,
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#rappel-cecofersa-proveedor').editable({
            title: 'Especificación del Rappel Cecofersa',
            url: path,
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#rappel-asociado-proveedor').editable({
            title: 'Especificación del Rappel Asociado',
            url: path,
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#observaciones-proveedor').editable({
            title: 'Observaciones',
            url: path,
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#publicidad-proveedor').editable({
            title: 'Especificación publicidad',
            url: path,
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
        $('#expocecofersa-proveedor').editable({
            source: [
                {value: 'VERDADERO', text: 'Participa'},
                {value: 'FALSO', text: 'No Participa'}
            ],
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });

        $('#gestor-proveedor').editable({
            tpl: "<input type='text' style='width: 200px'>",
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }

        });

        $('#fechabaja-proveedor').editable({
            tpl: "<input type='text' style='width: 200px'>",
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }

        });

        $('#nombrecomercial-proveedor').editable({
            tpl: "<input type='text' style='width: 200px'>",
            validate: function(value) {
                if (value === null || value === '') {
                    return '¡Este campo no puede estar vacio!';
                }
            },
            success: function(response, newValue) {
                response = $.parseJSON(response);
                if(response.status == 'error') return response.msg; //msg will be shown in editable form
            }
        });
    </script>
    <script>
        var $input = $("#anexos_input");
        var path = Routing.generate('update_anexo_pdf', { id_proveedor: {{ proveedor.idProveedor  }}});
        $input.fileinput({
            uploadUrl: path,
            uploadAsync: false,
            showUpload: false,
            showRemove: false,
            minFileCount: 1,
            maxFileCount: 1,
            mainClass: "input-group-sm"

        }).on("filebatchselected", function(event, files) {
            $input.fileinput("upload");
        });
    </script>

    <script src="{{ asset("js/customJS/usuariosJS.js") }}"></script>
{% endblock %}