{% extends 'Backoffice/PDF/layout.twig' %}
{% block body %}
<body>
    <div id="plantilla" class="col-xs-12">
        <div id="encabezado-pl" class="col-xs-12" style="padding: 0;">
            <div class="col-xs-3" style="padding: 5px;">
                <img class="img-responsive" src="http://www.cecofersa.com/public_html/images/logoCeco.png">
                <p style="font-size: 10px; font-family:Calibri; letter-spacing: normal; text-align: justify;">CENTRAL DE COMPRAS Y SERV: PROF., S.A.<br>Av. Valdelaparra, 39 Naves D y E, P. I Alcobendas<br>28108 ALCOBENDAS (Madrid)<br>Tel.: +34 91 662 2415&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fax.: +34 91 661 4851<br>E-mail: comercial@cecofersa.com<br>http://www.cecofersa.com</p>
            </div>
            <div class="col-xs-9">

                <h1 class="col-xs-10" style="text-align: left">{{ proveedor.proveedor }}</h1><h1 class="col-xs-2" style="text-align: right">{{ proveedor.nif }}</h1>
                <div class="col-xs-12" style="padding-top: 3px; margin-bottom: 2px;"><p>DIRECCIÓN: <a href="#">{{ proveedor.direccion }}</a></p></div>
                <div class="col-xs-6" style="padding-bottom: 3px">
                    <p>POBLACIÓN: <a href="#">{{ proveedor.poblacion }}</a></p>
                    <p>CÓDIGO POSTAL: <a href="#">{{ proveedor.codigoPostal }}</a></p>
                    <p style="margin-bottom: 3px;">PROVINCIA: <a href="#">{{ proveedor.provincia }}</a></p>
                    <p>RESPONSABLE: <a href="#">{{ proveedor.responsableConvenio }}</a></p>
                    <p style="margin-bottom: 5px;">E-MAIL: <a href="#">{{ proveedor.emailConvenio }}</a></p>

                </div>
                <div class="col-xs-6" style="padding-bottom: 3px">
                    <p>TELÉFONO: <a href="#">{{ proveedor.telefono }}</a></p>
                    <p>FAX: <a href="#">{{ proveedor.fax }}</a></p>
                    <p style="margin-bottom: 3px;">PÁGINA WEB: <a href="#">{{ proveedor.paginaWeb }}</a></p>
                    <p>CARGO RESP.: <a href="#">{{ proveedor.cargoConvenio }}</a></p>

                </div>
                <div class="col-xs-12 recuadrado" style="padding: 5px 10px;">
                    <div class="col-xs-4"><p>CONVENIO: <a href="#">{{ proveedor.convenioColaboracion }}</a></p></div>
                    <div class="col-xs-4"><p>FECHA: <a href="#">{{ proveedor.fechaConvenio|date("d/m/Y") }}</a></p></div>
                    <div class="col-xs-4"><p>VIGENCIA: <a href="#">{{ proveedor.vigencia }}</a></p></div>
                </div>
            </div>
        </div>
        <div id="cuerpo-pl" class="col-xs-12" style="padding: 0; margin-top: 4px;">
            <div class="col-xs-6" style="padding: 0px; height: 450px;">
                <div class="recuadrado" style="padding: 15px; height: 100%; margin: 0 2px 0 0">
                    <p>PRECIOS: <a href="#">{{ proveedor.precios }}</a></p>
                    <p>IVA: <a href="#">{{ proveedor.IVA }}</a></p>
                    <div class="col-xs-3" style="padding: 0;"><p>DTOS. FACTURA:</p></div><div class="col-xs-9" style="margin-bottom: 10px;"> <a href="#">{{ proveedor.descuentosFactura|raw }}</a></div>
                    <p><br></p>
                    <p>GESTIÓN CENTRALIZADA: <a href="#">{{ proveedor.gestionCentralizada }}</a></p>
                    <p>FORMA DE PAGO: <a href="#">{{ proveedor.formaPago }}</a></p>
                    <p>PRONTO PAGO: <a href="#">{{ proveedor.prontoPago }}</a></p>
                    <p>PEDIDO MÍNIMO:{{ proveedor.pedidoMinimo }}</p>
                    <p><br></p>
                    <p style="text-decoration: underline">PORTES PAGADOS:</p>
                    <p>PENÍNSULA: <a href="#">{{ proveedor.portesPeninsula }}</a></p>
                    <p>PORTUGAL: <a href="#">{{ proveedor.portugal }}</a></p>
                    <p>CANARIAS: <a href="#">{{ proveedor.canarias }}</a></p>
                    <p>BALEARES: <a href="#">{{ proveedor.baleares }}</a></p>
                    <p>CEUTA Y MELILLA: <a href="#">{{ proveedor.ceutaMelilla }}</a></p>
                </div>
            </div>
            <div class="col-xs-6" style="padding: 0px; height: 450px; border-left: none">
                <div class="recuadrado" style="padding: 15px; height: 100%; margin: 0 0 0 2px">
                    <p>ARTÍCULOS QUE COMERCIALIZA:</p>
                    <p><a href="#">{{ proveedor.articulosComercializa|raw }}</a></p>
                </div>
            </div>

            <div class="recuadrado col-xs-6" style="padding: 15px; height: 225px; border-right: none; margin-top: 4px;">
                <p>RAPPEL CECOFERSA:</p>
                <p><a href="#">{{ proveedor.rappelCecofersa|raw }}</a></p>
            </div>
            <div class="recuadrado col-xs-6" style="padding: 15px; height: 225px; border-left: none; margin-top: 4px;">
                <p>RAPPEL ASOCIADO:</p>
                <p><a href="#">{{ proveedor.rappelAsociado|raw }}</a></p>
            </div>
        </div>
        <div id="cuerpo2-pl" class="col-xs-12" style="padding: 0; margin-top: 4px">
            <div class="col-xs-3" style="height: 315px; padding: 0;">
                <div class="recuadrado" style="height: 100%; margin: 0 2px 0 0; padding: 5px 10px; color: black;">
                    <p style="font-size: 10px; letter-spacing: normal; margin-bottom: 3px;">El   rappel   será   abonado   exclusivamente   a "CECOFERSA" en la fecha fijada en esta Plantilla. De no establecerse,  esta no podrá exceder del día 01 de marzo del año siguiente al vigente.</p>
                    <p style="font-size: 10px; letter-spacing: normal; margin-bottom: 3px;">En la liquidación del rappel se incluirá el I.V.A. correspondiente al mismo.</p>
                    <p style="font-size: 10px; letter-spacing: normal; margin-bottom: 3px;">Esta     Plantilla    se     considerará     renovada automáticamente  en  las mismas   condiciones establecidas,    al    finalizar    su     periodo   de vigencia. Ello si no existe comunicación escrita en contra por alguna de las partes.</p>
                    <p style="font-size: 10px; letter-spacing: normal; margin-bottom: 3px;">Salvo pacto expreso,   "CECOFERSA"   no asume responsabilidad   alguna   sobre   el   pago   de mercancías suministradas a sus asociados. En ningún  caso  facturas  impagadas  podrán ser deducidas del rappel general, reteniendo únicamente el importe correspondiente al asociado.</p>
                    <p style="font-size: 10px; letter-spacing: normal; margin-bottom: 3px;">"CECOFERSA" recibirá, al menos trimestralmente, relación del consumo  individual de cada uno de sus  asociados.</p>
                    {#<img class="img-responsive" src="http://www.cecofersa.com/public_html/images/clausulas.jpg">#}
                </div>
            </div>
            <div class="col-xs-6" style="height: 315px; padding: 0;">
                <div class="recuadrado" style="padding: 15px; height: 100%; margin: 0 4px 0 2px">
                    <p>OBSERVACIONES:</p>
                    <p><a href="#">{{ proveedor.observaciones|raw }}</a></p>
                </div>
            </div>
            <div id="publicidad" class="col-xs-3" style="height: 315px; padding: 0;">
                <div class="col-xs-12 recuadrado" style="height: 100%; margin: 0px; padding:0;">
                    <div class="col-xs-12" style="padding: 5px 10px; border-bottom: 1px solid black;"><p style="letter-spacing: normal; font-size: 13px;">PARTICIPA EN EXPOCECOFERSA: <a style="line-height: 10px" href="#">
                                {% if proveedor.expocecofersa|upper == 'VERDADERO' %}
                                    <img src="http://www.cecofersa.com/public_html/images/checked.png">
                                {% else %}
                                    <img src="http://www.cecofersa.com/public_html/images/no-checked.png">
                                {% endif %}
                            </a></p></div>
                    <div class="col-xs-12" style="padding: 5px 10px;"><p>PUBLICIDAD: <a href="#">{{ proveedor.publicidad|raw }}</a></p></div>
                </div>
            </div>
        </div>
        <div id="footer-pl" class="col-xs-12" style="padding: 0; margin-top: 4px; color: black;">
            <div class="col-xs-6" style="height: 115px; padding: 0;">
                <div class="recuadrado" style="height: 100%; margin: 0 2px 0 0; padding: 5px; text-align: justify; color: black;">
                    <p style="font-size: 10px; letter-spacing: normal; margin-bottom: 2px;">En cumplimiento a la Ley Orgánica 15/1999 de Protección de Datos de Carácter Personal (LOPD) informamos que esta información será introducida en un fichero propiedad de la empresa CENTRAL DE COMPRAS Y SERVICIOS PROFESIONALES S.A. y serán puesta a disposición de nuestras empresas asociadas con finalidades comerciales.</p>
                    <p style="font-size: 10px; letter-spacing: normal; margin-bottom: 2px;">Se podrán ejercer los derechos de acceso, rectificación y cancelación de los datos de carácter personal por escrito con fotocopia del DNI a la dirección:</p>
                    <p style="font-size: 10px; letter-spacing: normal;">Avda. Valdelaparra, 39. Naves D y E. Pol. Ind. De Alcobendas. 28108 Alcobendas. MADRID.</p>
                    {#<img class="img-responsive" src="http://www.cecofersa.com/public_html/images/leydatos.jpg">#}
                </div>
            </div>
            <div class="col-xs-3" style="height: 115px; padding: 0;">
                <div class="recuadrado" style="height: 100%; margin: 0 2px 0 0; padding: 10px;">
                    <p>Por CECOFERSA:</p>
                </div>
            </div>
            <div class="col-xs-3" style="height: 115px; padding: 0;">
                <div class="recuadrado" style="height: 100%; margin: 0; padding: 10px;">
                    <p>Por el PROVEEDOR:</p>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}